<h3><font color='#004b87'>Question 1</font></h3>

When function b is called the first time in b (),a becomes a global variable upon which the value from function c which is an increment of a by 2 is assigned to the variable a. So this first time when function b is called, the value of a is 2.
The other two times when function b is called, it assigns an increment of two to the value of a each time thus making a 4 the second time and 6 the last time.
Therefore, When the last expression (a) is evaluated, it will return a value of 6 which is simply returning the value of variable a.

<h3><font color='#004b87'>Question 2</font></h3>

In [16]:
def file_length(file_name):
          # Added condition to check file exists 
    if (os.path.isfile(file_name)):
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
              # Added condition to print file not found should the above condition fails
    else:
        print(f"File {file_name} not found")

In [18]:
file_length('idterm.py')

File idterm.py not found

In [19]:
file_length('midterm.py')

123

<h3><font color='#004b87'>Question 3</font></h3>

In [21]:
# Problem 1
#Creating class named Marsupial
class Marsupial(object):
    #Constructor to initialize the empty list.
    def __init__(self):
        self.lst = []
    #function to add items to the list.
    def put_in_pouch(self, item):
        self.lst.append(item)
    #function to return the list.
    def pouch_contents(self):
        return self.lst

In [27]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [149]:
# Problem 2
#Creating subclass Kangaroo
class Kangaroo(Marsupial):
    def __init__(self,x,y):
        #Calling Parent class constructor
        Marsupial.__init__(self)
        #Initializing variables x and y (coordinates)
        self.x = x
        self.y = y
        # Jump function for moving the Kangaroo
    def jump(self,dx,dy):
        #Changing x coordinate
        self.x += dx
        #Changing y coordinate
        self.y += dy
    #returns Kangaroo location
    def __str__(self):
        return 'I am a Kangaroo located at coordinates({},{})'.format(self.x,self.y)

In [150]:
k= Kangaroo(0,0)
print (k)

I am a Kangaroo located at coordinates(0,0)

In [31]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [32]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates(3,0)

<h3><font color='#004b87'>Question 4</font></h3>

In [147]:
#Creating function collatz which takes a parameter x as input
def collatz(x):
    if x!=1:
        print(int(x))
        #Check if variable is even
    if x%2 == 0:
        if x == 1:
            #Return 1 if variable expression returns 1 after division by 2
            return 1
        #else call function collatz and divide the variable by 2
        else:
            return collatz(x/2)
        #check if variable is odd
    if x%2 != 0:
        if x ==1:
            #Return 1 if variable expression returns 1
            return 1
        else:
            #else call function collatz, multiply variable by 3, then add 1
            return collatz(3 * x +1)

In [148]:
collatz(1)

1

In [37]:
collatz(10)

10
5
16
8
4
2

1

<h3><font color='#004b87'>Question 5</font></h3>

In [145]:
#Creating function binary which takes a parameter num as input
def binary(num):
    if num >= 1:
        #If num is greater than or equal to one, call binary function to perform an integer division by 2
        binary(num // 2)
        #print remainder of above integer division using '' end seperator
    print(num % 2, end = '')

In [146]:
binary(0)

0

In [47]:
binary(1)

01

In [41]:
binary(3)

011

In [42]:
binary(9)

01001

<h3><font color='#004b87'>Question 6</font></h3>

In [142]:
# Importing libraries
import re
from html.parser import HTMLParser
# Class named HeadingParser
class HeadingParser(HTMLParser):
 # Function for handling start tag which takes tag and its attributes as input parameter
 def handle_starttag(self, tag, attrs):
 # Declaring a global variable -getH
     global getH
 # Regular expression for matching the given start tag
     match = re.match(r'h(\d)', tag, re.I)
     if match:
        getH = int(match.group(1))
    
    
 # Function for handling end tag which takes tag as input parameter
 def handle_endtag(self, tag):
 # Regular expression for matching the given start tag
     match = re.match(r'h(\d)', tag, re.I)
     if match:
        getH = 0
 # Function for printing the data
 def handle_data(self, data):
 # Checking if getH is greater than 0 (for h1 it is 1 and for h2 it is 2) and data
     if getH > 0 and not (data.isspace()):
 # Adjusting indentation according to the heading
         tab = getH - 1
         out = "\t" * tab
 # Printing data with indentation
         print(out + data)

In [144]:
infile = open('w3c.html')
content = infile.read()
infile.close()
getH = 0
hp = HeadingParser()
hp.feed(content)

W3C Mission
	Principles

<h3><font color='#004b87'>Question 7</font></h3>

In [161]:
# Importing libraries
import httplib2
from bs4 import BeautifulSoup, SoupStrainer
#Creating function getLinks which takes url parameter as an input and return links or responses.
def getLinks(url):
    #Initializing the empty list
    res = []
    #Accessing url resources via http call
    http = httplib2.Http()
    #Accessing status codes and request of the url passed.
    status, response = http.request(url)
    
    #For loop for checking the response from getLinks function
    for link in BeautifulSoup(response, parse_only=SoupStrainer('a'),features="html.parser"):
        #check href exists
        if link.has_attr('href'):
            #check response protocol if secured or not
            if link['href'][:5] == "http:" or link['href'][:5] == "https":
                #Add the response to the list
                res.append(link['href'])
                #return all links or responses
                return res
            
#function to extract url up to given depth in parameters with indent
def webdir(url, depth, indent):
    #print url with given indent
    print(indent * " " + url)
    #exit function when depth is 0
    if depth == 0:
        return
    #getting responses from url
    for i in getLinks(url):
        #Increase indent and decrease depth by calling function webdir
        webdir(i, depth - 1, indent + 1)
webdir("http://reed.cs.depaul.edu/lperkovic/test1.html", 1, 0)

http://reed.cs.depaul.edu/lperkovic/test1.html
 http://reed.cs.depaul.edu/lperkovic/test2.html

<h3><font color='#004b87'>Question 8</font></h3>

In [74]:

!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\programdata\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable<1 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: sqlparse in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: setuptools>=18.5 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: matplotlib-inline in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: backcall in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: jedi>=0.16 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: pygments in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: traitlets>=4.2 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\programdata\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)

In [2]:
%%capture
%load_ext sql
%sql sqlite:///BDAT1004.db
    #initializing sql database/cmds
    
    #https://community.dataquest.io/t/guided-sql-project-error-cell-magic-sql-not-found/348678

In [3]:
%%sql

CREATE TABLE Weather
(
  City text, 
  Country text, 
  Season text,
  Temperature float,
  Rainfall float
)

 * sqlite:///BDAT1004.db
Done.

[]

In [4]:
%%sql
select * from Weather

 * sqlite:///BDAT1004.db
Done.

[]

In [5]:
%%sql
INSERT INTO Weather(City,Country,Season,Temperature,Rainfall) 
VALUES ('Mumbai', 'India','Winter' , 24.8,5.9),
('Mumbai', 'India','Spring' , 28.4,16.2),
('Mumbai', 'India','Summer' , 27.9,1549.4),
('Mumbai', 'India','Fall' , 27.9,346.0),
('London', 'United Kingdom','Winter' , 4.2,207.7),
('London', 'United Kingdom','Spring' , 8.3,169.6),
('London', 'United Kingdom','Summer' , 15.7,157.0),
('London', 'United Kingdom','Fall' , 10.4,218.5),
('Cairo', 'Egypt','Winter' , 13.6,16.5),
('Cairo', 'Egypt','Spring' , 20.7,6.5),
('Cairo', 'Egypt','Summer' , 27.7,0.1),
('Cairo', 'Egypt','Fall' , 22.2,4.5)

 * sqlite:///BDAT1004.db
12 rows affected.

[]

<h3><font color='#004b87'>Question 8a</font></h3>

In [6]:
%%sql

select * FROM Weather

 * sqlite:///BDAT1004.db
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.9, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

<h3><font color='#004b87'>Question 8b</font></h3>

In [7]:
%%sql
SELECT DISTINCT CITY FROM Weather

 * sqlite:///BDAT1004.db
Done.

[('Mumbai',), ('London',), ('Cairo',)]

<h3><font color='#004b87'>Question 8c</font></h3>

In [8]:
%%sql
select * FROM Weather WHERE Country = 'India'

 * sqlite:///BDAT1004.db
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.9, 346.0)]

<h3><font color='#004b87'>Question 8d</font></h3>

In [9]:
%%sql
select * FROM Weather WHERE Season = 'Fall'

 * sqlite:///BDAT1004.db
Done.

[('Mumbai', 'India', 'Fall', 27.9, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

<h3><font color='#004b87'>Question 8e</font></h3>

In [10]:
%%sql
select City, Country,Season, AVG(Temperature) AS 'Average Temperature'
FROM Weather
GROUP BY City, Country,Season
HAVING AVG(Temperature) BETWEEN 200 AND 400

 * sqlite:///BDAT1004.db
Done.

[]

<h3><font color='#004b87'>Question 8f</font></h3>

In [11]:
%%sql
select City, Country, AVG(Temperature) AS 'Average Temperature'
FROM Weather
WHERE Season = 'Fall'
GROUP BY City, Country
HAVING AVG(Temperature) > 20
Order by AVG(Temperature) asc

 * sqlite:///BDAT1004.db
Done.

[('Cairo', 'Egypt', 22.2), ('Mumbai', 'India', 27.9)]

<h3><font color='#004b87'>Question 8f</font></h3>

In [12]:
%%sql
select SUM(Rainfall) As 'Annual Rainfall'
FROM Weather
WHERE City = 'Cairo'

 * sqlite:///BDAT1004.db
Done.

[(27.6,)]

<h3><font color='#004b87'>Question 8g</font></h3>

In [13]:
%%sql
select Season,SUM(Rainfall) As 'Annual Rainfall'
FROM Weather
Group by Season

 * sqlite:///BDAT1004.db
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

<h3><font color='#004b87'>Question 9</font></h3>

In [108]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [109]:
#9a
[word.upper() for word in words]

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [110]:
#9b
[word.lower() for word in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [111]:
#9c
[len(word) for word in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [112]:
#9d
[[word.upper(), word.lower(),len(word)] for word in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [113]:
#9e
[word for word in words if len(word) >= 4]

['quick', 'brown', 'jumps', 'over', 'lazy']